@model ZooDAL.Entities.Animal

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <h1 class="text-center">@ViewData["Title"]</h1>
    <hr />

    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card mb-4 shadow">
                <img src="~/Uploads/@Model.ImagePath" class="card-img-top" alt="Animal Image">
                <div class="card-body card-text text-center">
                    <h5><b>Name:</b> @Model.Name</h5>
                    <p><b>Age:</b> @Model.Age</p>
                    <p>@Model.Description</p>
                    <p><b>Category:</b> @Model.Category.Name</p>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h4 class="card-title text-center">Comments</h4>
                    <hr />
                    <form class="text-center" method="post" asp-action="PostComment" asp-route-id="@Model.Id">
                        <div class="mb-4">
                            <input class="form-control" name="comment" placeholder="Comment here..." required>
                        </div>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </form>

                    <ul class="list-group mt-4">
                        @foreach (var comment in Model.Comments)
                        {
                            <li class="list-group-item">@comment.Content</li>
                        }
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <div class="mt-4 text-center">
        <a asp-action="Catalog" class="btn btn-secondary">Back to Catalog</a>
        <a asp-action="Index" class="btn btn-secondary">Back to Home</a>
    </div>
</div>
